<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Github Repo Gist</title>
  <link rel="stylesheet" href="/stylesheets/main.css">
</head>

<body>
  <h2>Github Repo Gist</h2>
  <p>Github provides you with the functionality to make and embed a gist anywhere on the internet, but there's something
  missing, what if we want to share a gist of code from existing repo without the need of creating a new gist for it?</p>
  <br />
  <div class="instructions">
    <p>There are few simple steps to get gist out of code - </p>
    <ol>
      <li>Get the <code>uri</code> to the <code>raw</code> file, for eg <code>https://raw.githubusercontent.com/thefallenmerc/git-repo-gist/master/app.js</code></li>
      <li>
        extract the part starting from your username till end, (everything after <code>https://raw.githubusercontent.com/</code>), we get
        <code>thefallenmerc/git-repo-gist/master/app.js</code>
      </li>
      <li>
        Append this to our base url with any of the option available in between, the solution is hosted at
        <a href="https://git-repo-gist.herokuapp.com/">https://git-repo-gist.herokuapp.com/</a>, thus we get
        <code>https://git-repo-gist.herokuapp.com/<option>/thefallenmerc/git-repo-gist/master/app.js</code> , where option can have the
          following value -
          <ul>
            <li>
              <b>gist</b>: gives back and actual gist script
            </li>
            <li>
              <b>framed</b>: gives back an iframe with the gist in it
            </li>
          </ul>
      </li>
    </ol>
    <p>
      The final url we get is <a href="/gist/thefallenmerc/git-repo-gist/master/app.js"
        id="finalUrl">gist/thefallenmerc/git-repo-gist/master/app.js</a>
      <br />
      <br />
      This URL can now be used as a script tag to embed the gist in any website, just like github.
      <pre><code id="code"></code></pre>
      <br />
      If you replace <code>gist</code> with <code>framed</code> in the generated url, you can use it in iframe too.
      <iframe id="frame"></iframe>
    </p>
  </div>
  <hr />
  <div class="script-generator">
    You can just enter the raw url here and we will generate the script for you.
    <input type="text" id="userInput" placeholder="Place your raw url here" />
    <button onclick="generate()">Generate</button>
    <pre><code id="gist"></code></pre>
    <br />

    <p>Created by <a href="http://github.com/thefallenmerc">Shubham Singh Chahar</a></p>
  </div>
</body>
<script>
  function getUrl(url = '') {
    return location.host + "/gist/" + url
  }
  document.getElementById('finalUrl').innerText = document.getElementById('finalUrl').href;
  document.getElementById('code').innerText = `<script src="${document.getElementById('finalUrl').href}"><\/script>`;
  document.getElementById('frame').src = document.getElementById('finalUrl').href.replace('/gist/', '/framed/');
  document.getElementById('frame').onload = event => {
    event.target.style.height = event.target.contentDocument.documentElement.offsetHeight + 'px';
  };

  function generate() {
    const url = document.getElementById('userInput').value.replace("https://raw.githubusercontent.com/", "");
    const gist = location.host + "/gist/" + url;
    document.getElementById('gist').innerText = `<script src="https://${gist}"><\/script>`;

  }
</script>

</html>